#interpretation {
  margin: 0px auto;
  width: 90%;
  padding: 10px;
  overflow: hidden;
}

#buttons {
  margin: 0px auto;
  width: 90%;
  text-align: center;
}

#title {
  border-style: none none solid none
}

#content {
  padding: 10px;
}
