#title {
  border-style: none none solid none
}

#interpretation {
  margin: 0px auto;
  width: 90%;
  padding: 10px;
  overflow: hidden;
}

#submit_details_header {
  border-style: none none solid none
}

#submit_details {
  margin: 0px auto;
  width: 90%;
  padding: 10px;
  overflow: hidden;
}

#content_error {
  text-align: center;
  margin: 0px auto;
  font-size: 4em;
}

#content_image {
  text-align: center;
  margin: 0px auto;
  padding: 5px;
}

#buttons {
  margin: 0px auto;
  width: 90%;
  text-align: center;
}

a.button {
  padding: 5px;
}
