#interpretation {
  width: 90%;
  padding: 10px;
  overflow: hidden;
}

#list_interpretations {
  width: 90%;
  padding: 10px;
  overflow: hidden;
}

.listed_interpretation {
  border-style: none none solid none
}

#title {
  border-style: none none solid none
}

#content {
  padding: 10px;
}
